@mixin grid($gap) {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

    //Mixings for gap
    gap: #{$gap}rem;
}

@for $i from 1 to 13 {
    .col-#{$i}{
        grid-column: span $i;
    }
}

@mixin grid-center{
    align-self: center;
    justify-self: center;
}