@for $i from 1 to 25 {
    .font-#{$i}{
        font-size: #{$i}rem;
    }
}

@mixin all-page {
    height: 100vh;
    width: 100vw;
}

@for $i from 1 to 20 {
    .w-#{$i*5}{
        width: "#{$i*5}%";
    }
}