// Body
$primary-white: #FFFFFE;
$primary-dark: #2B2C34;
$primary-blue: #52C7D0;
$primary-orange: #E45858;

$colors:("primary-white", "primary-dark", "primary-blue", "primary-orange");

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$title-typography: 'Segoe UI', 'Roboto';
$font-size-base: 0.9rem;
$line-height-base: 1.6;
