@mixin normalize-btn {
    background: none;
    border: 0;
    color: inherit;
    line-height: normal;
    padding: 1rem 2rem;
    font-size: $text-normal-size;
    font-weight: bold;
    border: .2rem solid $primary-white;
    transition: all .3s;
}

.button-normal {
    @include normalize-btn();
    color: $primary-dark;
    background-color: $primary-white;
    border-radius: 1rem;

    &:hover{
        color: $primary-white;
        background-color: $primary-dark;
    }
}
.button-line {
    @include normalize-btn();
    color: $primary-white;
    background-color: $primary-dark;
    border-radius: 1rem;

    &:hover{
        color: $primary-dark;
        background-color: $primary-white;
    }
}
.button-err{
    border-radius: .8rem;
    padding: .5rem 1.2rem;
    background-color: $primary-orange;
    color: $primary-dark;
    font-weight: bold;
    box-shadow: 
    0px 1px 0px rgb(214, 59, 59), 
    0px 2px 0px rgb(214, 59, 59), 
    0px 3px 0px rgb(214, 59, 59), 
    0px 4px 0px rgb(214, 59, 59), 
    0px 5px 0px rgb(0,0,0), 
    0px 8px 10px rgb(0,0,0);

    &:active{
        box-shadow: none;
        transform: translateY(5px);
    }
}
.button-follow{
    background-color: green;
}
.button-Unfollow{
    background-color: red;
}
.button-like{
    background-color: white;
    padding: .5rem 1rem;
    border-radius: 10px;
}
.button-fork{
    background-color: white;
    padding: .5rem 1rem;
    border-radius: 10px;
}