/*-_-_-_-_-_-_-_-_- NAV LATERAL -_-_-_-_-_-_-_-_-*/
#menu{
    background-color: $primary-dark-strong;
    background-color: $primary-dark;
    height: 100%;
    overflow-y: scroll;
    padding: .5rem 0;
    font-family: $title-typography;

    #menu_options{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 101%;

        #nav-logo{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem 0;

            #nav_logo-home{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .menu_options-stack{
            margin: 2rem 0;
            color: $primary-white;
            text-align: center;
            h3{
                text-align: center;
            }
            .stacks{
                padding: 1rem;
                gap: 1rem 0;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                img{
                    grid-column-end: span 1;
                    justify-self: center;
                    &:hover{
                        transform: translateY(-1px);
                    }
                }
            }
        }

        .menu_options-option{
            padding: .5rem 1rem;
            color: $primary-white;
            &:hover{
                background-color: black;
            }
        }

        .menu_options-title{
            padding: .5rem 1rem;
            color: $primary-white;
        }

        .menu_option-center{
            display: flex;
            justify-content: center;
        }
        .menu_options-create{
            border-radius: .5rem;
            padding: .5rem 1rem;
            background-color: black;
            display: inline-block;
        }

        #menu_options-container-featured{
            height:min-content;
            overflow:hidden;
            padding: 0 2rem 0 1rem;
            margin-top: 1rem;
            color: $primary-white;
            font-family: $title-typography;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            #menu_options-featured{
                background-color: white;
                width: 100%;
                transform:scale(none);
                transform-origin:0 0;
                background-color:white;
                pointer-events: none;
            }

        }

    }
    
}



/*-_-_-_-_-_-_-_-_- NAV 1 -_-_-_-_-_-_-_-_-*/

.nav-1{
    font-family: $title-typography;
    height: 4.5rem;
    color: $primary-white;
    font-size: $text-big-size;
    font-weight: 600;
    background-color: $primary-dark-strong;
    border-bottom: 4px solid $primary-dark-strong;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    justify-items: center;
    padding: 0 1rem;
    border-bottom: 5px solid $primary-dark;
    
    #user_options{
        grid-column-start: 12;
        grid-column-end: 13;
    }

    #search{
        width: 100%;
        display: block;
        grid-column-end: span 10;
        height: 80%;

    }


}
@media (max-width: $breakpoint-4){
    .button-create-code{
        display: none !important;
    }

    #search{
        width: 80% !important;
    }
}





/*-_-_-_-_-_-_-_-_- NAV 2 -_-_-_-_-_-_-_-_-*/
.nav-2{
    font-family: $title-typography;
    height: 3rem;
    color: $primary-white;
    font-size: $text-big-size;
    font-weight: 600;
    justify-content: space-between;
    background-color: $primary-dark;
    border-bottom: 4px solid $primary-dark-strong;
    display: flex;

    .nav-info{
        display: flex;
        padding-left: 1rem;
        li{
            padding: 0 1em;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }

    .nav-options{
        display: flex;
        padding-right: 1rem;

        .nav-option{
            padding: 0 1em;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: .3rem .8rem;
            background-color: rgb(60, 62, 70);
            border-radius: .3rem;

            &:hover{
                background-color: rgb(78, 80, 88);
            }



        }

    }

    #project-title{
        font-size: 1rem;
        color: white;
        font-weight: bold;
        background-color: $primary-dark;
        border: none;
        outline: none;
        &::placeholder{
            color: white;
            opacity: 1;
        }

   
    }


}
#settings_wrapper{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    .settings_back{
        background-color: rgba(121, 121, 121, 0.434);
        position: absolute;
        z-index: 20;
        width: 100%;
        height: 100vh;
    }
    
    .settings{
        height: 70vh;
        border: 3px solid $primary-dark-strong;
        width: 40%;
        background-color: $primary-dark;
        z-index: 30;
    }
}


/*-_-_-_-_-_-_-_-_- NAV Profile -_-_-_-_-_-_-_-_-*/
#nav_profile{
    width: 100%;

    .nav_profile-option{
        display: flex;
        font-size: 1.5rem;
        font-family: $title-typography;
        color: $secondary-whitergb;
        font-weight: bold;

        li{
            padding: 0 1rem;
            cursor: pointer;
        }

        .active{
            color: $primary-white;
        }

    }

    .nav_profile-main{
        .active{
            border-bottom: 2px solid $primary-blue;
        }
    }


    .nav_profile-work{
        margin-top: 1.6rem;
        font-size: 1rem;
    }
}





#nav-logo{
    grid-column-end: span 3;
    justify-content: center;
    align-items: center;
}
#logo{
    width: 2rem;
    height: 2.5rem;
    margin-right: 1rem;
    margin-top: .3rem;
}
#logo-title{
    color: $primary-orange;
}
#nav-pages{
    grid-column-end: span 6
}
#nav-with-permiss{
    grid-column-end: span 3;
    justify-content: space-around;
}

#options{
    border: 1px solid rgb(148, 148, 148);
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 15rem;
    position: absolute;
    right: 2rem;
    top: 3.5rem;
    z-index: 355;
    background-color: $secondary-dark;
    align-items: flex-start;
    font-size: $text-normal-size;
    font-weight: normal;
    min-width: max-content;
    width: 12rem;

    *{
        width: 100%;
        padding: .3rem .5rem;
    }
    li:hover{
        transition: all .2s;
        background-color: $primary-orange;
    }
    li{
        margin: 0 !important;
    }
}

#avatar{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .3rem;
}


/*-_-_-_-_-_-_-_-_- NAV 3 -_-_-_-_-_-_-_-_-*/
.nav-3{
    font-family: $title-typography;
    color: $secondary-whitergb;
    background-color: $primary-dark;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .2rem .5rem;
    #nav_data{
        display: flex;
        align-items: center;

        #data_post-name{
            color: $primary-orange;
        }
        #data_user-name{
            color: $primary-white;
            font-size: .8rem;
            font-weight: bold;
        }
    }
    #nav_actions{
        display: flex;
        align-items: center;
        ul{
            margin: 0 .8rem;
        }
        .button-fork{
            font-weight: bold;
        }
    }
}

/*-_-_-_-_-_-_-_-_- NAV 5 MAIN -_-_-_-_-_-_-_-_-*/

.nav-5{
    font-family: $title-typography;
    height: 4.5rem;
    color: $primary-white;
    font-size: $text-big-size;
    font-weight: 600;
    justify-content: space-around;
    background-color: $primary-dark-strong;
    border-bottom: 4px solid $primary-dark-strong;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    #nav-logo{
        grid-column-end: span 2;
        display: flex;
    }

    #nav-options{
        grid-column-end: span 10;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        #search{
            width: 80%;
            display: block;
            height: 80%;
        }

        #nav-with-permiss{
            margin-right: 3rem;
            height: 80%;
            li{
                margin: 0 1rem;
            }
        }

        #nav-out-permiss{
            width: 20%;
        }
    }
}
@media (max-width: $breakpoint-4){
    .nav-5{
        #nav-logo{
            grid-column-end: span 4;
            display: flex;
        }
        #search{
            display: none !important;
        }
        #nav-options{
            grid-column-end: span 8;
            justify-content: flex-end;
            margin-right: .5rem;
        }
    }
}


