#search_nav{
    background-color: $primary-dark;
    font-weight: 600;
    border-radius: .3rem;
    padding: .5rem;
    position: relative;

    #search-input{
        width: 70%;
        border: none;
        font-size: $text-big-size;
        color: white;
        background-color: transparent;
    
        &::placeholder{
            color: $secondary-whitergb;
        }

        &:focus{
            outline: none;
        }
    }

    #searc_results{
        position: absolute;
        right: 0;
        left: 0;
        width: 40%;
        background-color: $secondary-dark;
        border-radius: 0 0 1rem 1rem;
        padding: 1rem;

        .searc_result{
            padding: .2rem 0;
        }
    }
}
