.user_card-wrapper{
    display: flex;
    align-content: center;
    background-color: $secondary-dark;
    box-shadow: 7px 7px $primary-dark-strong;
    border-radius: 1rem;
    padding: .5rem;

    .user_card-img{
        width: 7rem;
        height: 7rem;
        border-radius: 100%;
    }

    .user_card-details{
        font-size: $text-big-size;
        font-family: $title-typography;
    }

    .user_card-name{
        font-weight: bold;
    }

}

@media (max-width: $breakpoint-portatil){
    .user_card-wrapper{
    
        .user_card-img{
            width: 5rem !important;
            height: 5rem !important;
            border-radius: 100%;
        }
    
        .user_card-details{
            font-size: 1rem;
        }
    
    }
}