@import url(https://fonts.googleapis.com/css?family=Nunito);
@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul, menu {
  list-style: none;
}

a, .reset {
  background-color: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
  color: inherit;
  line-height: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button {
  background-color: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
}

/*-_-_-_-_-_-_-_-_- NAV LATERAL -_-_-_-_-_-_-_-_-*/
#menu {
  background-color: #1b1b1d;
  background-color: #2B2C34;
  height: 100%;
  overflow-y: scroll;
  padding: 0.5rem 0;
  font-family: "Segoe UI", "Roboto";
}
#menu #menu_options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 101%;
}
#menu #menu_options #nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
#menu #menu_options #nav-logo #nav_logo-home {
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu #menu_options .menu_options-stack {
  margin: 2rem 0;
  color: #FFFFFE;
  text-align: center;
}
#menu #menu_options .menu_options-stack h3 {
  text-align: center;
}
#menu #menu_options .menu_options-stack .stacks {
  padding: 1rem;
  gap: 1rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#menu #menu_options .menu_options-stack .stacks img {
  grid-column-end: span 1;
  justify-self: center;
}
#menu #menu_options .menu_options-stack .stacks img:hover {
  transform: translateY(-1px);
}
#menu #menu_options .menu_options-option {
  padding: 0.5rem 1rem;
  color: #FFFFFE;
}
#menu #menu_options .menu_options-option:hover {
  background-color: black;
}
#menu #menu_options .menu_options-title {
  padding: 0.5rem 1rem;
  color: #FFFFFE;
}
#menu #menu_options .menu_option-center {
  display: flex;
  justify-content: center;
}
#menu #menu_options .menu_options-create {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: black;
  display: inline-block;
}
#menu #menu_options #menu_options-container-featured {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  overflow: hidden;
  padding: 0 2rem 0 1rem;
  margin-top: 1rem;
  color: #FFFFFE;
  font-family: "Segoe UI", "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu #menu_options #menu_options-container-featured #menu_options-featured {
  background-color: white;
  width: 100%;
  transform: scale(none);
  transform-origin: 0 0;
  background-color: white;
  pointer-events: none;
}

/*-_-_-_-_-_-_-_-_- NAV 1 -_-_-_-_-_-_-_-_-*/
.nav-1 {
  font-family: "Segoe UI", "Roboto";
  height: 4.5rem;
  color: #FFFFFE;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #1b1b1d;
  border-bottom: 4px solid #1b1b1d;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  justify-items: center;
  padding: 0 1rem;
  border-bottom: 5px solid #2B2C34;
}
.nav-1 #user_options {
  grid-column-start: 12;
  grid-column-end: 13;
}
.nav-1 #search {
  width: 100%;
  display: block;
  grid-column-end: span 10;
  height: 80%;
}

@media (max-width: 650px) {
  .button-create-code {
    display: none !important;
  }

  #search {
    width: 80% !important;
  }
}
/*-_-_-_-_-_-_-_-_- NAV 2 -_-_-_-_-_-_-_-_-*/
.nav-2 {
  font-family: "Segoe UI", "Roboto";
  height: 3rem;
  color: #FFFFFE;
  font-size: 1.2rem;
  font-weight: 600;
  justify-content: space-between;
  background-color: #2B2C34;
  border-bottom: 4px solid #1b1b1d;
  display: flex;
}
.nav-2 .nav-info {
  display: flex;
  padding-left: 1rem;
}
.nav-2 .nav-info li {
  padding: 0 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-2 .nav-options {
  display: flex;
  padding-right: 1rem;
}
.nav-2 .nav-options .nav-option {
  padding: 0 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.3rem 0.8rem;
  background-color: rgb(60, 62, 70);
  border-radius: 0.3rem;
}
.nav-2 .nav-options .nav-option:hover {
  background-color: rgb(78, 80, 88);
}
.nav-2 #project-title {
  font-size: 1rem;
  color: white;
  font-weight: bold;
  background-color: #2B2C34;
  border: none;
  outline: none;
}
.nav-2 #project-title::-moz-placeholder {
  color: white;
  opacity: 1;
}
.nav-2 #project-title:-ms-input-placeholder {
  color: white;
  opacity: 1;
}
.nav-2 #project-title::placeholder {
  color: white;
  opacity: 1;
}

#settings_wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
#settings_wrapper .settings_back {
  background-color: rgba(121, 121, 121, 0.434);
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100vh;
}
#settings_wrapper .settings {
  height: 70vh;
  border: 3px solid #1b1b1d;
  width: 40%;
  background-color: #2B2C34;
  z-index: 30;
}

/*-_-_-_-_-_-_-_-_- NAV Profile -_-_-_-_-_-_-_-_-*/
#nav_profile {
  width: 100%;
}
#nav_profile .nav_profile-option {
  display: flex;
  font-size: 1.5rem;
  font-family: "Segoe UI", "Roboto";
  color: #999999;
  font-weight: bold;
}
#nav_profile .nav_profile-option li {
  padding: 0 1rem;
  cursor: pointer;
}
#nav_profile .nav_profile-option .active {
  color: #FFFFFE;
}
#nav_profile .nav_profile-main .active {
  border-bottom: 2px solid #52C7D0;
}
#nav_profile .nav_profile-work {
  margin-top: 1.6rem;
  font-size: 1rem;
}

#nav-logo {
  grid-column-end: span 3;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  margin-top: 0.3rem;
}

#logo-title {
  color: #E45858;
}

#nav-pages {
  grid-column-end: span 6;
}

#nav-with-permiss {
  grid-column-end: span 3;
  justify-content: space-around;
}

#options {
  border: 1px solid rgb(148, 148, 148);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 15rem;
  position: absolute;
  right: 2rem;
  top: 3.5rem;
  z-index: 355;
  background-color: #44444b;
  align-items: flex-start;
  font-size: 1rem;
  font-weight: normal;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  width: 12rem;
}
#options * {
  width: 100%;
  padding: 0.3rem 0.5rem;
}
#options li:hover {
  transition: all 0.2s;
  background-color: #E45858;
}
#options li {
  margin: 0 !important;
}

#avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.3rem;
}

/*-_-_-_-_-_-_-_-_- NAV 3 -_-_-_-_-_-_-_-_-*/
.nav-3 {
  font-family: "Segoe UI", "Roboto";
  color: #999999;
  background-color: #2B2C34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 0.5rem;
}
.nav-3 #nav_data {
  display: flex;
  align-items: center;
}
.nav-3 #nav_data #data_post-name {
  color: #E45858;
}
.nav-3 #nav_data #data_user-name {
  color: #FFFFFE;
  font-size: 0.8rem;
  font-weight: bold;
}
.nav-3 #nav_actions {
  display: flex;
  align-items: center;
}
.nav-3 #nav_actions ul {
  margin: 0 0.8rem;
}
.nav-3 #nav_actions .button-fork {
  font-weight: bold;
}

/*-_-_-_-_-_-_-_-_- NAV 5 MAIN -_-_-_-_-_-_-_-_-*/
.nav-5 {
  font-family: "Segoe UI", "Roboto";
  height: 4.5rem;
  color: #FFFFFE;
  font-size: 1.2rem;
  font-weight: 600;
  justify-content: space-around;
  background-color: #1b1b1d;
  border-bottom: 4px solid #1b1b1d;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}
.nav-5 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.nav-5 #nav-logo {
  grid-column-end: span 2;
  display: flex;
}
.nav-5 #nav-options {
  grid-column-end: span 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nav-5 #nav-options #search {
  width: 80%;
  display: block;
  height: 80%;
}
.nav-5 #nav-options #nav-with-permiss {
  margin-right: 3rem;
  height: 80%;
}
.nav-5 #nav-options #nav-with-permiss li {
  margin: 0 1rem;
}
.nav-5 #nav-options #nav-out-permiss {
  width: 20%;
}

@media (max-width: 650px) {
  .nav-5 #nav-logo {
    grid-column-end: span 4;
    display: flex;
  }
  .nav-5 #search {
    display: none !important;
  }
  .nav-5 #nav-options {
    grid-column-end: span 8;
    justify-content: flex-end;
    margin-right: 0.5rem;
  }
}
.button-normal {
  background: none;
  border: 0;
  color: inherit;
  line-height: normal;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border: 0.2rem solid #FFFFFE;
  transition: all 0.3s;
  color: #2B2C34;
  background-color: #FFFFFE;
  border-radius: 1rem;
  cursor: pointer;
}
.button-normal:hover {
  color: #FFFFFE;
  background-color: #2B2C34;
}

.button-line {
  background: none;
  border: 0;
  color: inherit;
  line-height: normal;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border: 0.2rem solid #FFFFFE;
  transition: all 0.3s;
  color: #FFFFFE;
  background-color: #2B2C34;
  border-radius: 1rem;
}
.button-line:hover {
  color: #2B2C34;
  background-color: #FFFFFE;
}

.button-err {
  border-radius: 0.8rem;
  padding: 0.5rem 1.2rem;
  background-color: #E45858;
  color: #2B2C34;
  font-weight: bold;
  box-shadow: 0px 1px 0px rgb(214, 59, 59), 0px 2px 0px rgb(214, 59, 59), 0px 3px 0px rgb(214, 59, 59), 0px 4px 0px rgb(214, 59, 59), 0px 5px 0px rgb(0, 0, 0), 0px 8px 10px rgb(0, 0, 0);
}
.button-err:active {
  box-shadow: none;
  transform: translateY(5px);
}

.button-follow {
  background: none;
  border: 0;
  color: inherit;
  line-height: normal;
  font-family: "Segoe UI", "Roboto";
  color: #FFFFFE;
  cursor: pointer;
  padding: 0.5rem;
  border: 2px solid rgb(42, 170, 42);
}
.button-follow i {
  font-size: 1.2rem;
  color: rgb(42, 170, 42);
}

.button-Unfollow {
  background: none;
  border: 0;
  color: inherit;
  line-height: normal;
  font-family: "Segoe UI", "Roboto";
  color: #FFFFFE;
  cursor: pointer;
  padding: 0.5rem;
  border: 2px solid red;
}
.button-Unfollow i {
  font-size: 1.2rem;
  color: red;
}

.button-like {
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.button-fork {
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.button-navSearch {
  background: none;
  border: 0;
  color: inherit;
  line-height: normal;
  font-family: "Segoe UI", "Roboto";
  color: #FFFFFE;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #44444b;
  border: 2px solid black;
  margin: 0 0.3rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  box-shadow: 0px 1px 0px #2B2C34, 0px 2px 0px #2B2C34, 0px 3px 0px rgb(0, 0, 0), 0px 5px 3px rgb(0, 0, 0);
}
.button-navSearch:hover {
  transform: translateY(-1.5px);
  box-shadow: 0px 1px 0px #2B2C34, 0px 2px 0px #2B2C34, 0px 3px 0px #2B2C34, 0px 4px 0px #2B2C34, 0px 5px 0px rgb(0, 0, 0), 0px 6px 3px rgb(0, 0, 0);
}
.button-navSearch:active {
  transform: translateY(2px);
  box-shadow: 0px 1px 0px #2B2C34, 0px 2px 2px rgb(0, 0, 0);
}

.button-navSearch-select {
  background-color: #44444b;
  border: 2px solid black;
  margin: 0 0.3rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  box-shadow: 0px 1px 0px #2B2C34, 0px 2px 0px #2B2C34, 0px 3px 0px rgb(0, 0, 0), 0px 4px 5px rgb(0, 0, 0);
}

.button-text {
  background: none;
  border: 0;
  color: inherit;
  line-height: normal;
  font-family: "Segoe UI", "Roboto";
  color: #FFFFFE;
  cursor: pointer;
}

.button-post_next {
  background: none;
  border: 0;
  color: inherit;
  line-height: normal;
  font-family: "Segoe UI", "Roboto";
  color: #FFFFFE;
  cursor: pointer;
  background-color: #0D6EFD;
  background-color: white;
  color: black;
  width: 3rem;
  height: 3rem;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 2px solid black;
  box-shadow: 0px 1px 0px #2B2C34, 0px 2px 0px #2B2C34, 0px 3px 0px rgb(0, 0, 0), 0px 4px 5px rgb(0, 0, 0);
}

.button-create-code {
  background: none;
  border: 0;
  color: inherit;
  line-height: normal;
  font-family: "Segoe UI", "Roboto";
  color: #FFFFFE;
  cursor: pointer;
  border: 2px solid rgb(190, 190, 190);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 2.5rem;
  height: 2.5rem;
  color: #FFFFFE;
  font-size: 1.2rem;
  font-weight: 600;
}

.button-tag {
  background: none;
  border: 0;
  color: inherit;
  line-height: normal;
  font-family: "Segoe UI", "Roboto";
  color: #FFFFFE;
  cursor: pointer;
  text-align: center;
  padding: 0.3rem 0.2rem;
  border-radius: 0.3rem;
  background-color: #0D6EFD;
  font-size: 1rem;
  font-weight: 600;
}
.button-tag:hover {
  transform: translateY(1px);
}

.button-load {
  background: none;
  border: 0;
  color: inherit;
  line-height: normal;
  font-family: "Segoe UI", "Roboto";
  color: #FFFFFE;
  cursor: pointer;
  text-align: center;
  padding: 0.3rem 0.7rem;
  border-radius: 0.3rem;
  background-color: rgb(247, 247, 51);
  font-size: 1rem;
  color: #1b1b1d;
  font-weight: 600;
}
.button-load:hover {
  transform: translateY(1px);
}

.follows-button {
  background: none;
  border: 0;
  color: inherit;
  line-height: normal;
  font-family: "Segoe UI", "Roboto";
  color: #FFFFFE;
  cursor: pointer;
  text-align: center;
  padding: 0.3rem 0.7rem;
  border-radius: 0.3rem;
  background-color: #FFFFFE;
  font-size: 1rem;
  color: #1b1b1d;
  font-weight: 600;
  margin: 0 1rem;
}
.follows-button:hover {
  transform: translateY(1px);
}

.create_post-button {
  background: none;
  border: 0;
  color: inherit;
  line-height: normal;
  font-family: "Segoe UI", "Roboto";
  color: #FFFFFE;
  cursor: pointer;
}

.button {
  background: none;
  border: 0;
  color: inherit;
  line-height: normal;
  font-family: "Segoe UI", "Roboto";
  color: #FFFFFE;
  cursor: pointer;
}

.form {
  height: calc(100vh - 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2B2C34;
  font-family: "Segoe UI", "Roboto";
  color: #FFFFFE;
}
.form .form-container {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form h1 {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.form form {
  width: 100%;
}
.form input, .form button {
  margin-bottom: 1.2rem;
  width: 100%;
  border-radius: 1rem;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border: none;
}
.form .input-data {
  background-color: white;
  border: 3px solid black;
}
.form .input-submit {
  background-color: #52C7D0;
  color: #2B2C34;
  font-weight: bold;
  box-shadow: 0px 1px 0px rgb(54, 129, 134), 0px 2px 0px rgb(54, 129, 134), 0px 3px 0px rgb(54, 129, 134), 0px 4px 0px rgb(54, 129, 134), 0px 5px 0px rgb(0, 0, 0), 0px 8px 10px rgb(0, 0, 0);
}
.form .input-submit:active {
  box-shadow: none;
  transform: translateY(5px);
}
.form .form-or {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
}
.form .or {
  margin: 0 1rem;
}
.form hr {
  width: 100%;
  border: 0.1rem rgb(209, 213, 219) solid;
}
.form .form-info {
  text-align: center;
}
.form .form-error {
  color: red;
  text-align: center;
  margin: 0.6rem 0 !important;
  padding: 1rem 0;
  font-weight: bold;
}

@media (max-width: 1544px) {
  .form .form-container {
    width: 50%;
  }
}
@media (max-width: 650px) {
  .form .form-container {
    width: 70%;
  }
}
.data {
  font-family: "Segoe UI", "Roboto";
  height: 6%;
  display: flex;
  align-items: center;
}

#error {
  color: white;
  background-color: #2B2C34;
  height: calc(100vh - 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Segoe UI", "Roboto";
}

.button-err {
  margin-top: 1rem;
}

.post {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #44444b;
  box-shadow: 7px 7px black;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  color: #FFFFFE;
  width: 100%;
}
.post .iframe-preview {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.post .iframe-preview iframe {
  transform: scale(0.4);
  transform-origin: 0 0;
  background-color: white;
  height: 2000px;
}
.post .iframe {
  pointer-events: none;
  height: 15rem;
  width: 100%;
  overflow: hidden;
  border-radius: 1rem 1rem 0 0;
}
.post .post_user {
  padding: 0.7rem;
  display: flex;
  border-top: 2px solid black;
}
.post .post_user .post_info-names {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 1rem;
}
.post .post_user .post_info-names button {
  padding: 0.15rem 0;
}
.post .post_user .post_info-meta {
  display: flex;
  align-items: center;
  justify-content: center;
}
.post .post_user .post_info-meta li {
  padding: 0.3rem;
  margin: 0 0.3rem;
  font-size: 1rem;
}
.post .post_user .post_info-meta li i {
  padding-right: 0.2rem;
}
.post .post_user .post_user-img {
  background-size: cover;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 100rem;
}
.post .post_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.post .post_info-options {
  position: relative;
  height: 2rem;
}
.post .post_info-options .post_options-button {
  font-size: 1.5rem;
  color: #FFFFFE;
}
.post .post_info-options .hidden {
  display: none;
}
.post .post_info-options .post_options-menu {
  position: absolute;
  bottom: 2rem;
  right: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: 2px solid black;
}
.post .post_info-options .post_options-menu .post_options-borrar {
  color: red;
}
.post .post_info-options .post_options-menu li {
  padding: 0.3rem 2rem 0.3rem 0.6rem;
  color: #2B2C34;
  font-weight: bold;
  border-bottom: 1px solid black;
}
.post .post_info-options .post_options-menu li:last-child {
  border-bottom: none;
}
.post .post_data {
  padding-top: 0.7rem;
  display: flex;
}
.post .post_data-name {
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 1850px) {
  .post .iframe {
    height: 12rem !important;
  }
  .post .button-text {
    font-size: 0.8rem;
  }
  .post .post_user .post_user-img {
    height: 3rem;
    width: 3rem;
  }
  .post .post_info-options {
    height: 2rem;
  }
  .post .post_info-options .post_options-button {
    font-size: 1.5rem;
    color: #FFFFFE;
  }
  .post .post_info-options .post_options-menu .post_options-borrar {
    color: red;
  }
}
#setting_nav {
  height: 70vh;
  border: 3px solid #1b1b1d;
  background-color: #2B2C34;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}
#setting_nav #close {
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: red;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}
#setting_nav #setting_main {
  width: 100%;
  height: 100%;
  grid-column-end: span 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: 3px solid black;
}
#setting_nav #setting_main ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#setting_nav #setting_main ul li {
  margin: 0.5rem 0;
}
#setting_nav #setting_options {
  grid-column-end: span 9;
  padding: 0.5rem;
}
#setting_nav .setting_option {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
#setting_nav .card_technology {
  grid-column-end: span 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  background-color: rgba(206, 206, 206, 0.075);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 0.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}
#setting_nav .card_technology:hover {
  background-color: rgba(206, 206, 206, 0.397);
}
#setting_nav .card_technology img {
  width: 50px;
}
#setting_nav .card_technology .quitFramework {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  color: rgb(255, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
}

.user_card-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: #44444b;
  box-shadow: 7px 7px #1b1b1d;
  border-radius: 1rem;
  padding: 0.5rem;
}
.user_card-wrapper .user_card-img {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  grid-column-end: span 4;
}
.user_card-wrapper .user_card-details {
  font-size: 1.2rem;
  font-family: "Segoe UI", "Roboto";
  padding: 0.2rem 0.7rem;
  grid-column-end: span 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user_card-wrapper button {
  grid-column-end: span 2;
  display: inline;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 0.2rem 0;
  align-self: center;
}
.user_card-wrapper .user_card-name {
  font-weight: bold;
}

@media (max-width: 1850px) {
  .user_card-wrapper .user_card-img {
    width: 5rem !important;
    height: 5rem !important;
    border-radius: 100%;
  }
  .user_card-wrapper .user_card-details {
    font-size: 1rem;
  }
}
@media (max-width: 1544px) {
  .user_card-wrapper .user_card-img {
    width: 3rem !important;
    height: 3rem !important;
    border-radius: 100%;
  }
  .user_card-wrapper .user_card-details {
    font-size: 0.8rem;
  }
}
#search_bar {
  display: flex;
}
#search_bar #search_options {
  display: flex;
}

#search_nav {
  background-color: #2B2C34;
  font-weight: 600;
  border-radius: 0.3rem;
  padding: 0.5rem;
  position: relative;
}
#search_nav #search-input {
  width: 70%;
  border: none;
  font-size: 1.2rem;
  color: white;
  background-color: transparent;
}
#search_nav #search-input::-moz-placeholder {
  color: #999999;
}
#search_nav #search-input:-ms-input-placeholder {
  color: #999999;
}
#search_nav #search-input::placeholder {
  color: #999999;
}
#search_nav #search-input:focus {
  outline: none;
}
#search_nav #searc_results {
  position: absolute;
  right: 0;
  left: 0;
  width: 40%;
  background-color: #44444b;
  border-radius: 0 0 1rem 1rem;
  padding: 1rem;
  z-index: 30;
}
#search_nav #searc_results .searc_result {
  padding: 0.2rem 0;
}

.body-index {
  background-image: url(/images/index.svg?467eef29e0fe526c20820f0e98a99a63);
  background-size: contain;
  background-color: #2B2C34;
  font-family: "Segoe UI", "Roboto";
  height: calc(100vh - 4.5rem);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #FFFFFE;
}

/*-_-_-_-_-_-_-_-_- MAIN -_-_-_-_-_-_-_-_-*/
.main-index {
  color: #FFFFFE;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-index h1 {
  font-size: 10rem;
}
.main-index #main_count {
  display: flex;
  justify-content: space-between;
}
.main-index p {
  text-align: center;
  font-size: 1.6rem;
}
.main-index p span {
  font-weight: bold;
  color: #52C7D0;
}

.main-index > * {
  margin: 1rem 0;
}

.button-normal, .button-line {
  margin: 1rem;
}

#home {
  overflow-x: hidden;
  font-family: "Segoe UI", "Roboto";
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  background-color: #2B2C34;
  color: #FFFFFE;
  min-height: calc(100vh - 3rem);
  row-gap: 3rem;
}
#home #post-wrapper {
  position: relative;
  z-index: 15;
  margin-top: 2.5rem;
  display: grid;
  grid-column-end: span 12;
  grid-template-columns: repeat(12, 1fr);
}
#home #post-wrapper #before_posts {
  padding: 2rem;
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.8rem;
  justify-items: center;
  align-items: center;
  filter: brightness(0.4);
}
#home #post-wrapper #posts {
  padding: 2rem;
  grid-column-start: 2;
  grid-column-end: 12;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.8rem;
  justify-items: center;
  align-items: center;
  position: relative;
  z-index: 15;
}
#home #post-wrapper #posts .button-post_next {
  position: absolute;
  right: -2rem;
}
#home #post-wrapper #posts .post_back {
  position: absolute;
  left: -2rem;
}
#home #post-wrapper #posts .post {
  grid-column-end: span 2;
  width: 100%;
  position: relative;
  z-index: 15;
}
#home #post-wrapper #after_posts {
  padding: 2rem;
  grid-column-start: 10;
  grid-column-end: 13;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.8rem;
  justify-items: center;
  align-items: center;
  filter: brightness(0.4);
  width: 100%;
}
#home #users_wrapper {
  position: relative;
  z-index: 5;
  display: grid;
  grid-column-end: span 12;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 3rem;
}
#home #users_wrapper #users-title {
  grid-column-start: 2;
  grid-column-end: span 10;
  position: relative;
  z-index: 5;
}
#home #users_wrapper #users {
  grid-column-start: 2;
  grid-column-end: 12;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.8rem;
  justify-self: center;
  position: relative;
  z-index: 5;
}
#home #users_wrapper #users .user {
  grid-column-end: span 1;
}
#home #footer_wrapper {
  height: 13rem;
  padding-bottom: 3rem;
  grid-column-end: span 12;
  background-color: #1b1b1d;
  text-align: center;
}
#home #footer_wrapper #footer_wrapper-data {
  padding: 3rem 0;
  display: flex;
  justify-content: space-around;
}

.title {
  grid-column-start: 2;
  grid-column-end: span 10;
}
.title hr {
  margin-top: 0.5rem;
  border: 1.5px solid white;
}

#wave {
  width: 100vw;
  position: absolute;
  z-index: 1;
  bottom: -3.2rem;
}

@media (max-width: 1850px) {
  #post-wrapper {
    overflow: hidden;
  }
  #post-wrapper #before_posts {
    padding: 2rem 0 !important;
    grid-column-end: 0 !important;
    display: none !important;
  }
  #post-wrapper #before_posts .post {
    width: 100% !important;
  }
  #post-wrapper #posts {
    padding: 2rem;
    grid-column-start: 2 !important;
    grid-column-end: 11 !important;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.8rem;
    position: relative;
  }
  #post-wrapper #posts .post {
    grid-column-end: span 2;
    width: 100%;
  }
  #post-wrapper #after_posts {
    padding: 2rem 0 !important;
    grid-column-start: 11 !important;
    align-items: flex-end !important;
    margin-left: 4rem;
  }
  #post-wrapper #after_posts .post {
    width: 100% !important;
  }

  #users_wrapper #users-title {
    grid-column-start: 2;
    grid-column-end: span 9;
  }
  #users_wrapper #users {
    grid-column-start: 2 !important;
    grid-column-end: 11 !important;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem !important;
  }
  #users_wrapper #users .user {
    grid-column-end: span 1;
  }
}
@media (max-width: 1544px) {
  #post-wrapper #posts .post {
    grid-column-end: span 4 !important;
    width: 100%;
  }

  #users_wrapper #users .user {
    grid-column-end: span 3 !important;
  }
}
#dashboard {
  color: #FFFFFE;
  background-color: #2B2C34;
  font-family: "Segoe UI", "Roboto";
  height: calc(100vh - 4.5rem);
  padding: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
#dashboard #dash-title {
  color: #FFFFFE;
  text-align: center;
}

#dash-table {
  margin: 3rem 7rem;
  padding: 1rem;
}

#dash-options ul {
  display: flex;
}
#dash-options ul li {
  margin: 1rem 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
}
#dash-options ul li .select {
  border-bottom: 2px solid #52C7D0;
}
#dash-options ul li:focus {
  background-color: #0D6EFD;
  color: white;
}
#dash-options .dash-option {
  color: #FFFFFE;
  font-size: 1.2rem;
  font-weight: 600;
}

#table {
  padding: 1rem;
  overflow-y: scroll;
  height: 20rem;
}

#table-wrapper td {
  padding: 0.3rem 1rem;
  text-align: center;
}
#table-wrapper .button-delete {
  background-color: #C82333;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  border-radius: 0.6rem;
}
#table-wrapper .button-edit {
  background-color: #E0A800;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  border-radius: 0.6rem;
  color: #2B2C34;
}
#table-wrapper .button-susccess {
  background-color: #218838;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  border-radius: 0.6rem;
  color: #2B2C34;
}
.code_enter {
  width: 100%;
  display: flex;
  height: 40vh;
}
.code_enter .editor {
  width: 33.33%;
  border: 2px solid black;
  height: 100%;
  overflow: hidden;
}
.code_enter .editor .data img {
  width: 20px;
}
.code_enter .editor html {
  height: 100%;
}

.code_output {
  width: 100%;
  height: calc(60vh - 3rem);
  border-top: 4px solid;
}

.code-represent {
  width: 100%;
  height: 100%;
}

.code_preview-wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.code_preview-wrapper .code_preview-back {
  background-color: rgba(121, 121, 121, 0.434);
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100vh;
}
.code_preview-wrapper .code_preview {
  height: 70vh;
  border: 3px solid #1b1b1d;
  width: 30%;
  background-color: #2B2C34;
  z-index: 10;
}
.code_preview-wrapper .code_preview .code_previw-code {
  width: 100%;
  height: 40%;
  background-color: white;
  position: relative;
}
.code_preview-wrapper .code_preview .code_previw-code .code_preview-iframe {
  width: 100%;
  height: 100%;
  position: relative;
  pointer-events: none;
}
.code_preview-wrapper .code_preview .code_preview-options {
  height: 60%;
  width: 100%;
  padding: 1rem;
  color: #FFFFFE;
  font-family: "Segoe UI", "Roboto";
}
.code_preview-wrapper .code_preview .code_preview-options .preview-name {
  display: flex;
}
.code_preview-wrapper .code_preview .code_preview-options .tags {
  display: flex;
}
.code_preview-wrapper .code_preview .code_preview-options .tags .tag {
  background-color: rgb(75, 75, 75);
  border-radius: 0.3rem;
  padding: 0.2rem 0.3rem;
  margin: 0.2rem;
  display: flex;
  transition: all 0.3s;
}
.code_preview-wrapper .code_preview .code_preview-options .tags .tag div {
  color: red;
}

#profile {
  font-family: "Segoe UI", "Roboto";
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  background-color: #2B2C34;
  color: #FFFFFE;
  min-height: calc(100vh - 3rem);
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
}
#profile .profile_header {
  grid-column-end: span 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg");
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;
}
#profile .profile_header .profile_header-name {
  margin: 1rem 0;
}
#profile .profile_header .profile_header-img {
  width: 10rem;
  border-radius: 0.5rem 0.5rem 0 0;
  border: 0.5rem solid #1b1b1d;
}
#profile .profile_header .profile_header-data {
  height: 4rem;
  width: 100%;
  padding-right: 2rem;
  background-color: #1b1b1d;
  display: flex;
  justify-content: right;
  align-items: center;
}
#profile .profile_header .profile_header-data ul {
  display: flex;
}
#profile .profile_main {
  margin: 3rem 5rem 0 5rem;
  grid-column-end: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
#profile .profile_main .profile_main-follows {
  grid-column-end: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.8rem;
  margin-top: 3rem;
}
#profile .profile_main .profile_main-follows .profile_follows-msg {
  grid-column-end: span 12;
  text-align: center;
}
#profile .profile_main .profile_main-follows .user {
  grid-column-end: span 3;
}
#profile .profile_main #nav_profile {
  grid-column-end: span 12;
}
#profile .profile_main #profile_posts {
  padding: 2rem;
  grid-column-end: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.8rem;
}
#profile .profile_main #profile_resume {
  padding: 2rem;
  grid-column-end: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.8rem;
}
#profile .profile_main #profile_resume #profile_resume-month {
  grid-column-end: span 6;
  text-align: center;
}
#profile .profile_main #profile_resume #profile_resume-month #month_table {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-spacing: 0.7rem 0.2rem;
  padding: 0.5rem 0;
}
#profile .profile_main #profile_resume #profile_resume-month #month_table th {
  width: 1.5rem;
  height: 1.5rem;
}
#profile .profile_main #profile_resume #profile_resume-month #month_table td {
  border: 2px solid black;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #1b1b1d;
}
#profile .profile_main #profile_resume #profile_resume-month #month_table .month_table-work {
  background-color: green;
}
#profile .profile_main #profile_resume #profile_resume-statics {
  grid-column-end: span 6;
  text-align: center;
}
#profile .profile_main #profile_resume #profile_resume-statics #statics-container {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  font-weight: 600;
}
#profile .profile_main #profile_resume #profile_resume-statics #statics-container .static {
  padding: 0 1rem;
}
#profile .profile_main #profile_resume .profile_resume-part {
  grid-column-end: span 12;
}
#profile .profile_main #profile_resume .resume-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-end: span 6;
}
#profile .profile_main #profile_resume .resume-container .profile_resume-title {
  grid-column-end: span 12;
  text-align: center;
}
#profile .profile_main #profile_resume .resume-container .post {
  grid-column-end: span 12;
  height: 100%;
  justify-content: space-between;
  z-index: 5;
}
#profile .profile_main #profile_resume .resume-container .post .iframe {
  height: 40vh !important;
}
#profile .profile_main #profile_resume .resume-container .post .iframe iframe {
  transform: scale(0.4);
  transform-origin: 0 0;
}
#profile .profile_main #profile_resume .resume-container-best .post {
  grid-column-end: span 12;
}
#profile .profile_main #profile_resume .resume-container-best .post .iframe {
  height: 60vh !important;
}
#profile .profile_main #profile_resume .resume-container-best .post .iframe iframe {
  transform: scale(none);
}
#profile .profile_main #profile_resume .resume-container:nth-child(3) {
  grid-column-start: 2;
  grid-column-end: 12;
  position: relative;
}
#profile .profile_main #profile_resume .resume-container:nth-child(3)::after {
  position: absolute;
  top: 5rem;
  right: -12rem;
  font-size: 13rem;
  transform: rotateZ(30deg);
  z-index: 0;
  content: "🏆";
}
#profile .profile_main #profile_resume .resume-container:nth-child(3)::before {
  position: absolute;
  top: 5rem;
  left: -12rem;
  font-size: 13rem;
  transform: rotateZ(-30deg);
  z-index: 0;
  content: "🏆";
}
#profile .profile_main #profile_tags {
  margin: 3rem;
  gap: 1.8rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-end: span 12;
}
#profile .profile_main #profile_tags h2 {
  grid-column-end: span 12;
}
#profile .profile_main #profile_tags .profile_tags-title {
  grid-column-end: span 12;
  text-align: center;
}
#profile .profile_main #profile_tags .profile_tags-msg {
  grid-column-end: span 12;
  text-align: center;
}
#profile .profile_main #profile_tags .user {
  grid-column-end: span 3;
}
#profile .profile_main #profile_tags #tags {
  display: flex;
  grid-column-end: span 12;
  justify-content: center;
}
#profile .profile_main #profile_tags #tags .tag {
  margin: 0.4rem;
}
#profile .post {
  grid-column-end: span 4;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #44444b;
  box-shadow: 7px 7px #1b1b1d;
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.profile_load {
  grid-column-end: span 12;
}

@media (max-width: 1850px) {
  #profile .profile_main {
    margin: 3rem 2.5rem 0 2.5rem;
  }
  #profile .post {
    grid-column-end: span 4;
    justify-self: center;
    width: 100%;
  }
}
@media (max-width: 1100px) {
  #profile_resume #profile_resume-month, #profile_resume #profile_resume-statics {
    grid-column-end: span 12 !important;
    margin-bottom: 2rem;
  }

  #profile_posts .post {
    grid-column-end: span 12 !important;
  }

  .profile_main-follows .user {
    grid-column-end: span 6 !important;
  }

  #profile_tags .post {
    grid-column-end: span 6 !important;
  }
}
@media (max-width: 650px) {
  .profile_main-follows .user {
    grid-column-end: span 12 !important;
  }

  #profile_tags .post {
    grid-column-end: span 12 !important;
  }
}
#seach_wrapper {
  background-color: #2B2C34;
  min-height: calc(100vh - 3rem);
  font-family: "Segoe UI", "Roboto";
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
#seach_wrapper .title {
  color: #FFFFFE;
  padding: 3rem 0;
}
#seach_wrapper #posts {
  grid-column-start: 3;
  grid-column-end: 13;
  text-align: center;
  padding: 0 3rem;
}
#seach_wrapper #post_search {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  justify-items: flex-end;
  gap: 3rem 0;
}
#seach_wrapper #post_search .post {
  grid-column-end: span 4;
  width: 90%;
}

@media (max-width: 1100px) {
  #seach_wrapper .post {
    grid-column-end: span 12 !important;
  }
}
#setting-wrapper {
  background-color: #2B2C34;
  min-height: calc(100vh - 4.5rem);
  font-family: "Segoe UI", "Roboto";
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
  color: #FFFFFE;
  justify-content: center;
  justify-items: center;
  overflow: hidden;
}
#setting-wrapper .settings-title {
  grid-column-end: span 12;
  text-align: center;
  padding: 1rem 0;
}
#setting-wrapper #nor-wrapper {
  grid-column-end: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
#setting-wrapper #settings-options {
  grid-column-end: span 12;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  margin: 2rem 0;
}
#setting-wrapper #settings-options .option {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin: 1rem;
  width: 100%;
}
#setting-wrapper #settings-options .option p {
  font-weight: 600;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
#setting-wrapper #settings-options .option .input-data {
  font-size: 1rem;
  color: white;
  font-weight: bold;
  background-color: #2B2C34;
  padding: 0.2rem;
  outline: none;
  background-color: #2B2C34 !important;
}
#setting-wrapper #settings-options .option .input-data::-moz-placeholder {
  color: white;
  opacity: 1;
}
#setting-wrapper #settings-options .option .input-data:-ms-input-placeholder {
  color: white;
  opacity: 1;
}
#setting-wrapper #settings-options .option .input-data::placeholder {
  color: white;
  opacity: 1;
}
#setting-wrapper #settings-options .option .option-img {
  width: 50px;
  height: 50px;
}
#setting-wrapper #settings-options .option label {
  margin-left: 2rem;
  border: 2px solid #FFFFFE;
  padding: 0.3rem 1rem;
}
#setting-wrapper #settings-options .option .save-button {
  border: 2px solid white;
  font-size: 1rem;
  padding: 0.2rem 0.8rem;
}
#setting-wrapper #settings-options .option h3 {
  color: #E45858;
}
#setting-wrapper #settings-options .option-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#setting-wrapper #settings-options .option-password input {
  margin: 0.5rem 0;
}
#setting-wrapper #settings-options .info {
  display: flex;
  justify-content: center;
}
#setting-wrapper #settings-options .dan-zone {
  color: #E45858;
}
#setting-wrapper #settings-options .nor-zone {
  color: #FFFFFE;
  flex-direction: column;
  align-items: flex-start;
}
#setting-wrapper #settings-options .nor-zone p {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 0.8rem;
  font-weight: normal;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, -webkit-max-content);
  grid-template-rows: repeat(2, max-content);
}
.wrapper #nav_main-top {
  grid-column-end: span 10;
}
.wrapper #nav_main-lateral {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-end: span 2;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.wrapper .nav-full {
  grid-column-end: span 12;
}
.wrapper .container-full {
  grid-column-end: span 12;
}
.wrapper .container-parcial {
  grid-column-end: span 10;
}

@media (max-width: 1100px) {
  #nav_main-lateral {
    display: none;
  }

  #nav_main-top {
    grid-column-end: span 12 !important;
  }

  .container-parcial {
    grid-column-end: span 12 !important;
  }
}
