#dashboard{
    color: $primary-white;
    background-color: $primary-dark;
    font-family: $title-typography;
    height: calc(100vh - 4.5rem);
    padding: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    #dash-title{
        color: $primary-white;
        text-align: center;
    }
}

#dash-table{
    margin: 3rem 7rem;
    padding: 1rem;
}

#dash-options{

    ul{
        display: flex;
        
        li{
            margin: 1rem 1.5rem;
            padding: .5rem 1rem;
            border-radius: .2rem;
            .select{
                border-bottom: 2px solid $primary-blue;
            }
        }
        
        li:focus{
            background-color: $primary-blue-strong;
            color: white;
        }
    }

    .dash-option{
        color: $primary-white;
        font-size: 1.2rem;
        font-weight: 600;
    }
}

#table{
    padding: 1rem;
    overflow-y: scroll;
    height: 20rem;
}

#table-wrapper{

    td{
        padding: .3rem 1rem;
        text-align: center;
    }

    .button-delete{
        background-color: #C82333;
        padding: .3rem 1rem;
        font-size: 1rem;
        border-radius: .6rem;
    }
    .button-edit{
        background-color: #E0A800;
        padding: .3rem 1rem;
        font-size: 1rem;
        border-radius: .6rem;
        color: $primary-dark;
    }
    .button-susccess{
        background-color: #218838;
        padding: .3rem 1rem;
        font-size: 1rem;
        border-radius: .6rem;
        color: $primary-dark;
    }
    #table-body{

    }
}
