#home{    
    overflow-x: hidden;
    font-family: $title-typography;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: min-content;
    // background-color: $primary-dark-strong;
    background-color: $primary-dark;
    color: $primary-white;
    min-height: calc(100vh - 3rem);
    row-gap: 3rem;
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

    #post-wrapper{
        position: relative;
        z-index: 15;
        margin-top: 2.5rem;
        display: grid;
        grid-column-end: span 12;
        grid-template-columns: repeat(12, 1fr);

        #before_posts{
            padding: 2rem;
            grid-column-start: 1;
            grid-column-end: 4;
            display: grid;
            grid-template-columns: 1fr;
            gap: 1.8rem;
            justify-items: center;
            align-items: center;
            filter: brightness(0.4);

        }

        #posts{
            padding: 2rem;
            grid-column-start: 2;
            grid-column-end: 12;
    
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1.8rem;
            justify-items: center;
            align-items: center;

            position: relative;
            z-index: 15;

            
            .button-post_next{
                position: absolute;
                right: -2rem;
            }
            .post_back{
                position: absolute;
                left: -2rem;
            }
            .post{
                grid-column-end: span 2;
                width: 100%;
                position: relative;
                z-index: 15;
            }
            
        }

        #after_posts{
            padding: 2rem;
            grid-column-start: 10;
            grid-column-end: 13;
            display: grid;
            grid-template-columns: 1fr;
            gap: 1.8rem;
            justify-items: center;
            align-items: center;
            filter: brightness(0.4);
            width: 100%;
        }




    }

    #users_wrapper{
        position: relative;
        z-index: 5;
        display: grid;
        grid-column-end: span 12;
        grid-template-columns: repeat(12, 1fr);
        row-gap: 3rem;

        #users-title{
            grid-column-start: 2;
            grid-column-end: span 10;
            position: relative;
            z-index: 5;
        }

        #users{
            grid-column-start: 2;
            grid-column-end: 12;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1.8rem;
            justify-self: center;
            position: relative;
            z-index: 5;

            .user{
                grid-column-end: span 1;
            }
        }

    }

    #footer_wrapper{
        height: 13rem;
        padding-bottom: 3rem;
        grid-column-end: span 12;
        background-color: $primary-dark-strong;
        text-align: center;
        #footer_wrapper-data{
            padding: 3rem 0;
            display: flex;
            justify-content: space-around;
        }
    }

}
.title{
    grid-column-start: 2;
    grid-column-end: span 10;
    hr{
        margin-top: .5rem;
        border: 1.5px solid white;
    }
}

#wave{
    width: 100vw;
    position: absolute;
    z-index: 1;
    bottom: -3.2rem;
}

@media (max-width: $breakpoint-portatil){
    #post-wrapper{
        overflow: hidden;

        #before_posts{
            padding: 2rem 0 !important;
            grid-column-end: 0 !important;
            display: none !important;
            

            .post{
                width: 100% !important;
            }
        }

        #posts{
            padding: 2rem;
            grid-column-start: 2 !important;
            grid-column-end: 11 !important;
    
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1.8rem;

            position: relative;

            
            .post_next{
                //
            }
            .post_back{
                //
            }
            .post{
                grid-column-end: span 2;
                width: 100%;
            }
            
        }

        #after_posts{
            padding: 2rem 0 !important;
            grid-column-start: 11 !important;
            align-items: flex-end !important;
            margin-left: 4rem;

            .post{
                width: 100% !important;
            }
        }
    }

    #users_wrapper{

        #users-title{
            grid-column-start: 2;
            grid-column-end: span 9;
        }

        #users{
            grid-column-start: 2 !important;
            grid-column-end: 11 !important;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 4rem !important;

            .user{
                grid-column-end: span 1;
            }
        }

    }
}


@media (max-width: $breakpoint-2){
    #post-wrapper{

        #posts{

            .post{
                grid-column-end: span 4 !important;//
                width: 100%;
            }
            
        }

    }

    #users_wrapper{

        #users{

            .user{
                grid-column-end: span 3 !important;
            }
        }

    }
}



