.body-index{
    background-image: url('./../../media/img/index.svg');
    background-size: contain;
    background-color: $primary-dark;
    font-family: $title-typography;
    height: calc(100vh - 4.5rem);
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration:none;
    color: $primary-white;
}

/*-_-_-_-_-_-_-_-_- MAIN -_-_-_-_-_-_-_-_-*/

.main-index{
    color: $primary-white;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;


    h1{
        font-size: 10rem;
    }

    #main_count{
        display: flex;
        justify-content: space-between;
    }
    
    p{
        text-align: center;
        font-size: $text-long-size;
        span{
            @include resalt-blue;
        }
    }

}

.main-index > *{
    margin: 1rem 0;
}

.button-normal, .button-line{
    margin: 1rem;
}