//----------- GENEREAL --------------------

/// Colors
///@group colors
$primary-white: #FFFFFE;
$primary-dark: #2B2C34;
$primary-blue: #52C7D0;
$primary-orange: #E45858;

$secondary-dark: #44444b;



///Color de texto de la pagina
///@group general
$text-color: $primary-white;


//------------------- FONTS --------------//
$text-normal-size: 1rem;
$text-big-size:1.2rem;
$text-long-size:1.6rem;
$font-family-sans-serif: 'Nunito', sans-serif;
$title-typography: 'Segoe UI', 'Roboto';
