//----------- GENEREAL --------------------

/// Colors
///@group colors
$primary-dark-strong: #1b1b1d;
$primary-blue-strong: #0D6EFD;

$primary-white: #FFFFFE;
$primary-dark: #2B2C34;
$primary-blue: #52C7D0;
$primary-orange: #E45858;

$secondary-dark: #44444b;
$secondary-whitergb: #999999;



///Color de texto de la pagina
///@group general
$text-color: $primary-white;


//------------------- FONTS --------------//
$text-low-size: .8rem;
$text-normal-size: 1rem;
$text-big-size:1.2rem;
$text-long-size:1.6rem;
$font-family-sans-serif: 'Nunito', sans-serif;
$title-typography: 'Segoe UI', 'Roboto';


//------------------- Media Querys --------------//
$breakpoint-portatil: 1850px;
$breakpoint-2: 1544px;
$breakpoint-3: 1100px;
$breakpoint-4: 650px;